<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <title>Términos y Condiciones de uso</title>  
    <link rel="stylesheet" type="text/css" th:href="@{css/terminos.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
</head>
<body>
	<div class="nav" id="navbar">
        <div class="ContainerNavbar">
            <a th:href="@{/}" class="iconnav"><img src="img/alquila.png" id="marca" /></a>
            <div class="buttons">
            <a name="btnC" th:href="@{/property/add}">
              <input type="button" name="Crear anuncio" id="anuncio" />
              <label for="anuncio" name="label" id="formulario">
                CREAR ANUNCIO
              </label>
            </a>
            </div>
        </div>
    </div>
    <div class="firstContainer">
    <div class="card_container">
    <h1>TÉRMINOS Y CONDICIONES GENERALES DE USO</h1>
    <div>
            
     <h3 class="date">1. CONDICIONES GENERALES DEL SITIO.</h3>
         <div class="text">
                    Las presentes Condiciones Generales de Uso regulan el acceso y el uso del SITIO ALQUILA.com.<br/><br/>

                    La finalidad de este SITIO es la de ser el mayor y mejor buscador de inmuebles de alquiler en el NEA y un punto de referencia para los interesados en el alquiler de inmuebles.<br/>

                    ALQUILA sólo facilitará a los demás usuarios los datos y/o información proporcionados por el USUARIO cuando estos datos y/o información no vulneren disposiciones legales o las presentes Condiciones Generales de Uso.<br/>

                    ALQUILA podrá eliminar del Sitio Web contenidos ilegales sin previo aviso.<br/><br/>

                    El USUARIO reconoce que técnicamente no es posible lograr disponibilidad del Sitio Web de ALQUILA.com al 100 %. Sin embargo, ALQUILA se esforzará por mantener disponible el Sitio Web de la forma más constante posible. Especialmente por razones de mantenimiento, seguridad o capacidad, así como a causa de acontecimientos sobre los que no puede influir ALQUILA (por ejemplo anomalías de redes públicas de comunicación, cortes de electricidad, etc.) pueden producirse breves anomalías o la suspensión pasajera de los servicios del Sitio Web.<br/><br/>
         </div>

      <h3 class="date">2. OBLIGACIONES DE LOS USUARIOS DEL SITIO.</h3>
        
         <div class="text">

                    El USUARIO se compromete a hacer un uso diligente del mismo y de los servicios accesibles desde este Sitio Web, con total sujeción a la Ley, a las buenas costumbres y a las presentes Condiciones Generales de Uso y, en su caso, condiciones particulares, así como manteniendo el debido respeto a los demás usuarios.<br/><br/>

                    Con carácter general la prestación de los servicios no exige la previa suscripción o registro de los usuarios. No obstante, ALQUILA condiciona la utilización de algunos de los servicios a la previa cumplimentación de los correspondientes registros de Usuario (propietarios e inquilinos), seleccionando el identificador y la contraseña que el usuario se compromete a conservar y a usar con la diligencia debida.<br/><br/>

                    El uso de la contraseña es personal e intransferible, no estando permitida la cesión, ni siquiera temporal, a terceros. En tal sentido, el Usuario deberá adoptar las medidas necesarias para la custodia de la contraseña por él seleccionada, evitando el uso de la misma por terceros. En consecuencia, el Usuario es el único responsable de la utilización que, de su contraseña se realice, con completa indemnidad para ALQUILA. En el supuesto de que el Usuario conozca o sospeche del uso de su contraseña por terceros deberá poner tal circunstancia en conocimiento de ALQUILA con la mayor brevedad.<br/><br/>

                    El citado registro se efectuará en la forma expresamente indicada en el propio servicio.
                    
                    Toda la información que facilite el Usuario a través de los servicios deberá ser veraz y exacta. A estos efectos, el Usuario garantiza la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la suscripción de los Servicios.<br/><br/>

                    De igual forma, será responsabilidad del Usuario mantener toda la información facilitada a ALQUILA permanentemente actualizada de forma que responda, en cada momento a la situación real del Usuario. En todo caso el Usuario será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a ALQUILA o a terceros por la información que facilite.<br/><br/>

                    El Usuario se obliga a respetar las leyes aplicables y los derechos de terceros al utilizar los contenidos y servicios del Sitio Web. Asimismo queda prohibida la reproducción, distribución, transmisión, adaptación o modificación, por cualquier medio y en cualquier forma, de los contenidos del Sitio Web (textos, diseños, gráficos, informaciones, bases de datos, archivos de sonido y/o imagen, logos, etc.) y demás elementos de este Sitio Web, salvo autorización previa de sus legítimos titulares o cuando así resulte permitido por la ley.<br/><br/>

                    En especial al usuario le estará prohibido: utilizar contenidos injuriosos o calumniosos, con independencia de que esos contenidos afecten a otros usuarios o a otras personas o empresas, utilizar contenidos pornográficos o que vulneren las leyes de protección de menores, o hacer publicidad, ofrecer o distribuir productos pornográficos o que vulneren las leyes de protección de menores, molestar a otros usuarios (especialmente mediante spam), utilizar contenidos protegidos legalmente (p. ej. por la legislación relativa a la propiedad intelectual, a marcas, a patentes, a modelos de utilidad o a modelos estéticos) sin tener derecho a ello, o hacer publicidad, ofrecer o distribuir bienes o servicios protegidos legalmente, así como realizar o fomentar acciones contrarias a la libre competencia, incluidas las encaminadas a la captación de clientes progresiva (como sistemas en cadena, de bola de nieve o piramidales).<br/><br/>

         </div>

      <h3 class="date">2.1. Política de publicación de fotografías:</h3>

      <div class="text">
      	
                    La fotografía en la ficha de perfil de un usuario sirve para identificarlo claramente respecto del resto de los miembros de ALQUILA. Por ello, es recomendable incluir fotografías personales, es decir, que contengan fotografías de uno mismo; no obstante también se aceptarán fotos que identifiquen los gustos de los usuarios y que les ayuden a expresarse (ej. mascotas, grupos de amigos, paisajes, objetos o creaciones artísticas).<br/><br/>

                    ALQUILA no admite la inclusión de cualquier tipo de imágenes por parte de sus miembros, por lo que únicamente serán publicadas aquellas que hayan sido aceptadas tras un proceso de validación, bajo el criterio exclusivo del equipo de ALQUILA.<br/><br/>
                    Una fotografía puede ser rechazada por diversos motivos:
        </div>

      
      

      		<ul class="items">
                        <li>Por ser inadecuada con los objetivos de ALQUILA. No se admitirán fotografías o imágenes de contenido ofensivo, violento, ideológico, xenófobo, erótico, obsceno y/o sexual.</li>
                        <li>Por razones de seguridad y privacidad de datos. No se admitirán fotografías o imágenes que contengan información como: nombres, números de teléfono, direcciones de correo electrónico, o URL de páginas web.</li>
                        <li>Por presentar problemas de visualización o ser de poca calidad visual.</li>
                        <li>Por no haberse cargado correctamente en la página.</li>
        	</ul><br/><br/>
      </div>

       <div class="text">
	          ALQUILA no puede confirmar la propiedad de los derechos de autor de las imágenes que se incluyan en los perfiles. En caso de mostrar a una tercera persona, deberá contar con su autorización expresa, bajo la responsabilidad exclusiva del usuario implicado.<br/><br/>
	
		      ALQUILA se reserva el derecho de recortar -nunca manipular- las imágenes para adecuarlas a la política de publicación de fotografías aquí descrita. Asimismo, ALQUILA se reserva el derecho de eliminar, aun sin previo aviso, aquellas imágenes que, a su juicio, considere inapropiadas de acuerdo con los objetivos y naturaleza del sitio.<br/><br/>
		
		      Todas las fotografías de ALQUILA están sujetas a posteriores revisiones y eliminaciones.<br/><br/>
    	</div>

<h3 class="date">2.2. Política en la aprobación de perfiles:</h3>
    <div class="text">
					         
					<p>
	                    La Política de Aprobación de Perfiles está diseñada para regular el contenido de los perfiles a fin de asegurar un ambiente general de calidad con un contenido, idioma e intenciones apropiados para la seguridad de todos los usuarios.<br/><br/>
	
	                    No se aprobarán los perfiles que contengan:
	        		</p>

                    <ul class="items">
                        <li>Lenguaje sexualmente explícito o referencias / sugerencias sexuales</li>
                        <li>Contenido difamatorio, abusivo, agresivo o violento</li>
                        <li>Lenguaje ofensivo u obsceno (incluyendo palabras soeces)</li>
                        <li>Terminología blasfema o racialmente ofensiva</li>
                     </ul><br/><br/>
    

                    <p> ALQUILA, a su sola discreción, se reserva el derecho a rechazar usuarios en el caso de que la información publicada no garantice, en opinión de ALQUILA, un nivel de confianza, seguridad y crédito suficiente para su inclusión en la comunidad de usuarios de ALQUILA.<br/><br/>

		              En este sentido, ALQUILA se reserva el derecho a poder eliminar sin previo aviso a usuarios registrados que no respondan a los principios de calidad y veracidad de ALQUILA.<br/><br/>
		
		              ALQUILA no puede controlar todos y cada uno de los contenidos publicados, de manera que no puede asumir la responsabilidad sobre los contenidos. De todas maneras, periódicamente se realizan controles para asegurar los principios de calidad de ALQUILA así como las normas aquí indicadas.<br/><br/>
		
		              Cualquier usuario que proporcione información o realice actividades que contravengan la legalidad vigente asumirá la responsabilidad exclusiva de los perjuicios y consecuencias derivadas de la misma, eximiendo a ALQUILA de cualquier responsabilidad.<br/><br/>

      				</p>
      	</div>

        <h3 class="date">2.3. Responsabilidad y difusión de contenidos, datos y/o información de los usuarios</h3> 
        <div class="text">
            El Usuario se compromete a utilizar el Sitio Web de conformidad con estas Condiciones Generales, las leyes aplicables conforme la cláusula 12 y con la moral y buenas costumbres.<br/><br/>
        
            El usuario autoriza expresamente a ALQUILA para que difunda su perfil y los contenidos que haya aportado a ALQUILA. El usuario cede a ALQUILA de forma permanente e irrevocable todos los derechos y royalties del contenido que cree y publique en ALQUILA.<br/><br/>

        El usuario autoriza expresamente a ALQUILA a modificar algunos contenidos con el objeto de respetar el diseño gráfico del Sitio Web o de los demás soportes de comunicación utilizados en la plataforma de ALQUILA. Estos derechos o licencia de utilización se conceden para todo el mundo y durante la vigencia legal de la protección de los derechos del usuario.<br/><br/>

        ALQUILA no tiene obligación de controlar y no controla la utilización que los usuarios hacen del servicio y, por consiguiente, no garantiza que los usuarios utilicen los mismos de conformidad con lo establecido en las Condiciones, ni que hagan un uso diligente y/o prudente de los mismos.<br/><br/>

        Asimismo, ALQUILA tampoco tiene la obligación de verificar y no verifica la identidad de los usuarios, ni la veracidad, vigencia, exhaustividad y/o autenticidad de los datos que los usuarios proporcionan sobre sí mismos.<br/><br/>

        Sin perjuicio de lo anterior, ALQUILA se reserva la facultad de limitar, total o parcialmente, el acceso a los servicios a determinados usuarios, así como de cancelar, suspender, bloquear o eliminar determinado tipo de contenidos mediante la utilización de instrumentos tecnológicos aptos al efecto, si tuviese conocimiento efectivo de que la actividad o la información almacenada es ilícita o de que lesiona bienes o derechos de un tercero. En este sentido, ALQUILA podrá establecer los filtros necesarios a fin de evitar que a través del servicio puedan verterse en la red contenidos ilícitos o nocivos.<br/><br/>

        Los usuarios autorizan expresamente a ALQUILA para que pueda publicar los mensajes y conversaciones de los usuarios en cualquier parte del Sitio Web y en ubicaciones externas al mismo que guarden relación con el Sitio Web y con la temática sobre la que verse el mensaje o la conversación.<br/><br/>
        </div>
        
        <h3 class="date">2.4. Exclusión de garantías y responsabilidad</h3> 
        <div class="text">
            Salvo en aquellos casos expresamente descritos en las Condiciones Generales de Uso y el resto del marco normativo del Sitio Web, ALQUILA no se responsabiliza por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de exactitud, exhaustividad, actualidad, así como a errores u omisiones de los que pudieran adolecer las informaciones y servicios contenidos en este Sitio Web u otros contenidos a los que se pueda acceder a través del mismo ni asume ningún deber o compromiso de verificar ni de vigilar sus contenidos e informaciones.<br/><br/>

        Asimismo, ALQUILA no garantiza la disponibilidad, continuidad ni la infalibilidad del funcionamiento del Sitio Web, y en consecuencia, excluye, en la máxima medida permitida por la legislación vigente, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o de continuidad del funcionamiento del Sitio Web y de los servicios habilitados en el mismo, así como a los errores en el acceso a las distintas páginas web o aquellas desde las que, en su caso, se presten dichos servicios.<br/><br/>

        ALQUILA no asume responsabilidad alguna por los contenidos, datos y/o información aportados por los usuarios del Sitio Web, ni tampoco por los contenidos de sitios web externos a los que existan enlaces. En especial ALQUILA no garantiza que esos contenidos sean verdaderos, cumplan una determinada finalidad o puedan servir a esa finalidad.<br/><br/>

        Asimismo, ALQUILA no será responsable de las opiniones vertidas por los usuarios a través del portal, los foros, comunidades, y otras herramientas de participación u opinión.

        </div>
        <h3 class="date">2.5. Enlaces, "links" a páginas de terceros</h3> 
        <div class="text">
            ALQUILA incluye dentro de sus contenidos enlaces con sitios pertenecientes y/o gestionados por terceros con el objeto de facilitar el acceso a información disponible a través de Internet.<br/><br/>

        ALQUILA no asume ninguna responsabilidad derivada de la existencia de enlaces entre los contenidos de este sitio y contenidos situados fuera del mismo o de cualquier otra mención de contenidos externos a este sitio. Tales enlaces o menciones tienen una finalidad exclusivamente informativa y, en ningún caso, implican el apoyo, aprobación, comercialización o relación alguna entre ALQUILA y el propietario de la página web con la que se establezca.<br/><br/>
        </div>
        
<h3 class="date">3. CONDICIONES GENERALES DE USO DE LA COMUNIDAD DE ALQUILA</h3>
        <div class="text">
            ALQUILA ofrece a los usuarios la posibilidad de publicar en el Sitio Web sus preguntas y dudas sobre alquiler y conseguir respuestas rápidas, sencillas y directas para conocer la actualidad del sector.<br/><br/>

        La Comunidad ALQUILA tiene como objetivo aportar a los usuarios interesados en alquiler de viviendas opiniones y/o información de otros usuarios o expertos en la materia.<br/><br/>

        La función de La Comunidad ALQUILA es servir de espacio de debate, diálogo y aprendizaje para todas aquellas personas que participan en ella. Por tanto las opiniones son libres.<br/><br/>

        Para garantizar que los temas de La Comunidad son de interés y tienen calidad, desde ALQUILA no se permitirá que se utilice este espacio con intereses publicitarios, para descalificar a terceros o para cualquier otro fin que no responda a la filosofía de nuestro portal.<br/><br/>
        </div>
        
   <h3 class="date">3.1. Cómo participar</h3> 
        <div class="text"> 
        Si quieres participar en La Comunidad de ALQUILA para preguntar o contestar cualquier duda sobre alquiler de viviendas sólo debes entrar en tu cuenta introduciendo tu email y tu contraseña o, en caso de no estar registrado, crear una cuenta rellenando los campos obligatorios que se señalan con un asterisco (*).
        </div>
   <h3 class="date"> 3.2. Responsabilidad</h3> 
        <div class="text">ALQUILA declina toda responsabilidad sobre opiniones y/o informaciones manifestadas por los usuarios.<br/><br/></div>
             
        
   <h3 class="date">4. MENORES DE EDAD.</h3>
        <div class="text">
            Queda prohibida la utilización del Sitio Web y/o de los Servicios ofrecidos a través del mismo por personas que carezcan de capacidad legal para contratar o menores de edad según la legislación aplicable. En caso que ello ocurra, los menores de edad o incapaces deben obtener previamente permiso de sus padres, tutores o representantes legales, quienes serán considerados responsables de todos los actos realizados por las personas a su cargo.<br/><br/>
        
           El Sitio Web es una comunidad en constante evolución que incluye diversos usuarios con diferentes experiencias y antecedentes. A pesar que ALQUILA puede monitorear y tomar acción sobre la conducta inapropiada de otros usuarios o terceros, en el Sitio Web o el acceso o utilización de cualquiera de los Servicios ofrecidos, incluidas salas de chat y foros públicos, es posible que en cualquier momento pueda presentarse un lenguaje u otros materiales accesibles en o a través de tales que puedan ser inapropiados para menores de edad u ofensivos para otros usuarios. Las presentes Condiciones Generales señalan normas de conducta para los usuarios, pero ALQUILA no puede garantizar que el resto de usuarios cumplan con los mismos.<br/><br/>
        
            Al acceder al Sitio Web y utilizar los Servicios el Usuario confirma que es mayor de edad.<br/><br/>
        </div>



  <h3 class="date">5. RESPONSABILIDAD DEL USUARIO.</h3>

        <div class="text">El Usuario declara y acepta que el uso del Sitio Web sus Servicios y los contenidos se efectúa bajo su única y exclusiva responsabilidad.<br/></div>

   <h3 class="date">6. EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD.</h3>
        
        <div class="text">Atento al estado de la técnica y a la estructura y funcionamiento de las redes, el Sitio Web no puede confirmar que cada Usuario es quien dice ser.<br/><br/>
        ALQUILA no garantiza la disponibilidad y continuidad del funcionamiento del Sitio Web y de los Servicios ofrecidos. No todos los Servicios y contenidos en general se encuentran disponibles para todas las áreas geográficas. Asimismo, ALQUILA no garantiza la utilidad del Sitio Web y de los Servicios para la realización de ninguna actividad en particular, ni su infalibilidad y, en particular, aunque no de modo exclusivo, que los Usuarios puedan efectivamente utilizar el Sitio Web, acceder a las distintas páginas web que forman el Sitio Web o a aquéllas desde las que se prestan los Servicios.<br/><br/>
        ALQUILA no garantiza que el Sitio Web funcione libre de errores o que el Sitio Web y su servidor estén libres de virus informáticos u otros mecanismos lesivos.<br/><br/>
        El Sitio Web y los Servicios se suministran tal como están, sin garantías de ninguna clase. <br/><br/>
        ALQUILA no garantiza la exactitud, la veracidad, la exhaustividad o la actualización de los contenidos, los Servicios, el software, los textos, los gráficos y los vínculos.<br/><br/>
        En ningún caso ALQUILA será responsable de cualquier daño incluyendo, pero sin limitación, daños directos y/o indirectos, lucro cesante o pérdida de chance que resulten del uso o de la imposibilidad de uso del Sitio Web, sin perjuicio de que ALQUILA haya sido advertido sobre la posibilidad de tales daños.<br/><br/>
        ALQUILA excluye toda responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse al accionar de terceros no autorizados respecto de los Datos Personales de los Usuarios, así como de los Servicios ofrecidos en el Sitio Web.<br/><br/>

   <h3 class="date">7. VÍNCULOS A OTROS SITIOS.</h3>
        
        <div class="text">El Sitio Web contiene vínculos a otros sitios de Internet. ALQUILA no respalda los contenidos de estos sitios web. ALQUILA no es responsable del contenido de los sitios web de terceros y no hace ninguna afirmación relativa al contenido o su exactitud en estos sitios web de terceros. Si Usted decide acceder a sitios web de terceras partes vinculados, lo hace a su propio riesgo.<br/></div>

        <h3 class="date">8. CESIÓN O USO COMERCIAL NO AUTORIZADO.</h3>

        <div class="text">Usted acepta no ceder, bajo ningún título, sus derechos u obligaciones bajo estas Condiciones Generales. Usted también acepta no realizar ningún uso comercial no autorizado del Sitio Web.<br/><br/>
        Asimismo, el Usuario se compromete a utilizar el Sitio Web y los Servicios diligentemente y de conformidad con la ley aplicable y vigente y con estas Condiciones Generales.<br/><br/></div>

        <h3 class="date">9. CANCELACIÓN.</h3>

        <div class="text">ALQUILA tiene la facultad, y no la obligación, de emitir advertencias, suspensiones temporales y cancelaciones permanentes (baja) de los Usuarios registrados por infracciones a las presentes Condiciones Generales, y/o cualquier aviso, reglamento de uso e instrucción puestos en conocimiento del Usuario por ALQUILA.<br/><br/>
        Sin perjuicio de lo indicado en el punto anterior, ALQUILA se reserva el derecho, a su exclusivo criterio, de emplear todos los medios legales a su alcance en caso que Usted infrinja cualquiera de estas Condiciones Generales.<br/></div>

        <h3 class="date">10. GENERAL.</h3>
        <div class="text">ALQUILA se reserva el derecho a modificar total o parcialmente estas Condiciones Generales en cualquier momento. En caso de llevar a cabo alguna modificación, ALQUILA notificará al Usuario a la dirección de correo electrónico registrada para utilizar el Sitio Web y los Servicios. El Usuario acepta que la notificación por parte de ALQUILA a dicha dirección de correo electrónico tendrá plena validez como notificación suficiente, y renuncia a cualquier tipo de impugnación respecto de las notificaciones cursadas por ALQUILA a tal dirección de correo electrónico. Asimismo, si el Usuario persiste en la utilización de los Servicios y/o el Sitio Web, se considerará que ha aceptado implícitamente las nuevas Condiciones Generales.<br/><br/>
        En caso de declararse la nulidad de alguna de las cláusulas de estas Condiciones Generales, tal nulidad no afectará a la validez de las restantes, las cuales mantendrán su plena vigencia y efecto. <br/><br/>
        Estas Condiciones Generales, junto con la Política de Privacidad constituyen la totalidad del acuerdo entre Usted y ALQUILA respecto del uso del Sitio Web.<br/>
        </div>

        <h3 class="date">11. DURACIÓN Y TERMINACIÓN.</h3>
        <div class="text">
        	<p>La prestación del Servicio del Sitio Web tiene una duración indeterminada. Sin perjuicio de lo anterior, ALQUILA está autorizada para dar por terminada o suspender la prestación del Servicio del Sitio Web y/o de cualquiera de los Contenidos en cualquier momento.</p>
        	<hr style="border-bottom: 1px solid #333"/>        
     		<p> Estos Términos y condiciones fueron actualizados por última vez el 26 de octubre de 2018. </p>
        </div>

  		</div>
    </div>
   </div>
        <footer>
            <div class="footer">
                <div class="footercontainer">
                    <ul class="ulFooter">
                        <li class="liFooter">¿Quiénes somos?</li>
                        <li class="liFooter">Preguntas frecuentes</li>
                        <li class="liFooter"><a th:href="@{/terminosYcondic}">Términos y condiciones de uso</a></li>
                        <li class="liFooter"><a th:href="@{/property/add}">Crear anuncio</a></li>
                    </ul>
                        <div class="redes">
                        <span>Comunicate con nosotros</span>
                        <div class="icons"><a href="#"><img src="img/003-facebook.png" /></a>
                     <a href="#"><img src="img/002-twitter.png" /></a>
                     <a href="#"><img src="img/001-gmail.png" /></a>
                     </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>